h1 {
  text-align: center;
}

.inputfields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inputfields > div {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
}

input {
  margin-left: 10px;
  font-size: 20px;
  border-radius: 5px;
  height: 30px;
}

p {
  font-size: 20px;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
}

.expensesection > h3 {
  margin-top: 20px;
  font-weight: bold;
}

li {
}
