body {
  min-width: 1048px;
}

h1 {
  text-align: center;
}

.inputfields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 5px;
}

.inputfields > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  margin-left: 10px;
  font-size: 20px;
  border-radius: 5px;
  height: 30px;
}

p {
  font-size: 20px;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
}

.expensesection > h3 {
  margin-top: 20px;
  font-weight: bold;
}

li {
  margin: 10px 20px 10px 20px;
  font-size: 20px;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#submitBtn,
#deleteAllBtn {
  margin-top: 20px;
  font-size: 20px;
}

#deleteAllBtn {
  margin-left: 20px;
}
